<p>Hi there,</p>

<p>You have been invited to administer Good Weather</p>

<%= render partial: "/email_safe_button", locals: {
  label: "START ADMINSTERING",
  href: admin_users_url,
  align: "center"
} %>

<p>Find a good place with good weather</p>
