---
http_interactions:
  - request:
      method: get
      uri: https://locationiq.org/v1/search.php?format=json&key=location_iq_api_key&q=Melbourne+Australia
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string:
          '[{"place_id":"223205344","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"2404870","boundingbox":["-37.85067","-37.77545","144.89709","144.9913426"],"lat":"-37.8142176","lon":"144.9631608","display_name":"City
          of Melbourne, Victoria, Australia","class":"boundary","type":"administrative","importance":0.93312461007079,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_boundary_administrative.p.20.png"},{"place_id":"155185216","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"305804278","boundingbox":["-37.6788911","-37.6419602","144.8157357","144.8672036"],"lat":"-37.6538575","lon":"144.8426768","display_name":"Melbourne
          Airport, Arrival Drive, Melbourne Airport, City of Hume, Victoria, 3045, Australia","class":"aeroway","type":"aerodrome","importance":0.645384980859[...]
