<% content_for :content do %>
  <div class="row mt-5">
    <div class="col-lg-6 m-auto">
      <div class="card devise-form">
        <div class="card-body devise-form">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>